

.Body {
    background: url("./ShuljanBishul.jpg");
    width:340px;
    height:440px;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.ListElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Lables {
    color: azure;
}

.FormsTrue {
    border-radius: 2px;
    border-color: black;
    background-color: aliceblue;
    color: black;
}

.FormsFalse {
    border-radius: 2px;
    box-shadow: 12px;
    border-color: orangered;
    background-color: brown;
    color: aliceblue;
}

body{
    background:#59ABE3;margin:0
}
