.Body {
    background: url("./ShuljanBishul.jpg");
    width: 1280px;
    height: 720px;
    border-radius:190px;
    box-shadow:0 0 40px -10px #000;
    margin: auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.Inputs {
    padding: 9px;
    border-radius: 9999em;
    color: black;
    font-size: large;
}

.chekForm {
    background: url("./checkNote.jpg");
    background-position: 50% 70%;
    background-size: 120%;
    border-radius:10px;
    width: 200px;
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: large;
}