.FilterBar{
    background-color: #333;
    color: white;
}

.Inputs {
    padding: 9px;
    border-radius: 9999em;
    color: black;
    font-size: large;
}

.chekForm {
    background: url("./checkNote.jpg");
    color: black;
    background-position: 50% 70%;
    background-size: 120%;
    border-radius:10px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: large;
}