.indexBar{
    color: azure;
}

.cardsTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonIndex{
    background: linear-gradient(to bottom, black, blue);
    border: gray;
    color: white;
    padding: 2%;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 15px;
    border-radius: 50%;
}

.buttonIndex:hover{
    background: linear-gradient(to bottom, blue, black);
    border: gray;
    color: white;
    padding: 2%;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 15px;
    border-radius: 50%;
}